* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #404040;
}

header {
    display: flex;
    background-image: linear-gradient(0deg ,#312828, #493628);
    padding: 2rem;
    padding-top: 3rem;
}

h1 {
    text-wrap: nowrap;
    color: white;
    font-size: 3.12rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.ICONS {
    display: flex;
    margin-bottom: 1rem;
    gap: 3rem;
}

.LOGO__HORSESWEB {
    display: flex;
    align-items: center;
    width: 10rem;
    height: 10rem;
    fill: white;
}
.ICON {
    width: 5rem;
    height: 5rem;
}
